body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #fff0f0;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: rgb(50, 0, 0);
}

#header {
    padding: 14px 0;
    background: rgb(94, 0, 0);
    color: #fff;
    font-size: 2em;
}

#container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}

.human-board,
.computer-board {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 1px solid rgb(94, 0, 0);
    border-radius: 4px;
    width: 400px;
    background: #f0f0f0;
    padding: 6px 6px;
}

.board-cell {
    border: 3px solid rgb(136, 202, 228);
    border-radius: 4px;
}

.ship {
    background: #a03535;
}

.hit {
    background: #ff0000;
}

.miss {
    background: #0069cc;
}

.inactive {
    pointer-events: none;
    opacity: 0.7;
}

#reset {
    padding: 8px;
    border-radius: 10px;
    background-color: #ff9900;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
}

.hidden {
    display: none;
}

.ship-x {
    border-left: none;
    border-right: none;
}

.ship-y {
    border-top: none;
    border-bottom: none;
}

.spx-first {
    border-left: 3px solid rgb(136, 202, 228);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.spx-last {
    border-right: 3px solid rgb(136, 202, 228);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.spy-first {
    border-top: 3px solid rgb(136, 202, 228);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.spy-last {
    border-bottom: 3px solid rgb(136, 202, 228);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.spx {
    border-radius: 0;
}

.spy {
    border-radius: 0;
}

#message {
    padding: 20px;
    font-size: 32px;
    color: #28cc28;
}